@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}
  
body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}

nav {
    background-color: #fff;
    padding: 15px;
    width: 300em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width 0.6s linear;
}

nav.active {
    width: 300em;

}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
}

nav.active ul {
    width: 100%;
}

nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg)
}

nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.icon:focus {
    outline: 0;
}

.icon .line {
    background-color: #5290f9;
    height: 2px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}




h1{
	font-weight: normal;
	font-size: 4em;
	margin:335px auto;
	width: 500px;
	color: #F90;
	text-align: center;

}

#background{
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
}

header{
    margin-top: 60px;
	height: 300px;
}

#ContactUs{
	margin-top: 300px;
	height: 100%;	
    background-size: 100%;
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: rgb(17, 3, 3);
	position: relative;
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	border: solid 3px #0FE882;	
	box-sizing:border-box;	
}
input:focus, textarea:focus{
	border: solid 3px #0F8FE8;	
}

textarea{
	height: 150px;	
	resize: none; 
	overflow: auto;
}

input[type="submit"]{
	background-color: #0F8FE8;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
}

input[type="submit"]:hover{
	background-color: #0FE83A;	
}

label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}

.bg {
    background: url('https://media.istockphoto.com/id/1203599952/photo/assortment-of-fresh-organic-fruits-and-vegetables-in-rainbow-colors.jpg?s=612x612&w=0&k=20&c=uR7-eija3o_KscQEi7afo-AQaSAtCZMA-DjLfjVQTmU=');
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
  }
  
  .loading-text {
    font-size: 50px;
    color: rgb(133, 21, 21);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  } 
  